<section class="artists" id="artists">
    <h2 class="artists__title">Artists</h2>
    <h3 class="artists__subtitle">Explore Your New Favorite Artists</h3>
    <ul class="artists__list">
    </ul>
    <button class="artists__button is-hidden" type="button">
        Load More
        <svg class="artists__button-icon" width="24" height="24" aria-hidden="true">
            <use href="./icon/symbol-defs.svg#icon-arrow-down2"></use>
        </svg> </button>

    <div class="loader-backdrop is-hidden">
        <div class="loader"></div>
    </div>
</section>
